.footer {
	/*position: fixed;*/
	/*bottom: 0;*/
	color: white;
	/*height: 400px;*/
	font-size: 14px;
	margin-top: ;
}

.footer-content {
	background-color: #10213d;
	text-align: center;
}

h5 {
	text-align: center;
}