.footer {
	color: white;
	float:bottom;
	/*height: 400px;*/
	font-size: 14px;
	font-family: "Hind Madurai";
	border-top: 2px solid black;
}

.footer-content {
	padding: 10px;
	background-color: #043251;
	color: #76889b;
	text-align: center;
}

h5 {
	text-align: center;
}