.footer {
	color: white;
	float:bottom;
	/*height: 400px;*/
	font-size: 14px;
	font-family: "Hind Madurai";;
}

.footer-content {
	padding: 10px;
	background-color: #eeeeee;
	color: #4c4b4b;
	text-align: center;
}

h5 {
	text-align: center;
}