<div class="container-fluid">
	<div class="row">
		<div class="locations-hero inner-width">
			<ngb-carousel>
				<ng-template ngbSlide>
					<img src="/assets/img/400h/kp-front.jpg" alt="KP International">
				</ng-template>
				<ng-template ngbSlide>
					<img src="/assets/img/400h/sheris-front.jpg" alt="Sheri's Sonshine Nutrition Center">
				</ng-template>
				<ng-template ngbSlide>
					<img src="/assets/img/400h/babylon-front.jpg" alt="Babylon City Market">
				</ng-template>
				<ng-template ngbSlide>
					<img src="/assets/img/400h/neroes2.png" alt="Neroe's Bakery">
				</ng-template>
				<ng-template ngbSlide>
					<img src="/assets/img/400h/citrus-plaza-front.jpg" alt="Citrus Plaza Market">
				</ng-template>
				<ng-template ngbSlide>
					<img src="/assets/img/400h/medi-market.jpg" alt="Mediterranean Market">
				</ng-template>
				<ng-template ngbSlide>
					<img src="/assets/img/400h/euro-deli-shelves.png" alt="European Delicatessen">
				</ng-template>
				<ng-template ngbSlide>
					<img src="/assets/img/400h/kp-shelf-6.jpg">
				</ng-template>
				<ng-template ngbSlide>
					<img src="/assets/img/400h/shelf_blue.jpg">
				</ng-template>
				<ng-template ngbSlide>
					<img src="/assets/img/400h/citrus-shelf-1.jpg">
				</ng-template>
				<ng-template ngbSlide>
					<img src="/assets/img/400h/creamed.jpg">
				</ng-template>
				<ng-template ngbSlide>
					<img src="/assets/img/400h/kp-shelf-2.jpg">
				</ng-template>
			</ngb-carousel>
		</div>
	</div>
	<div class="row">
		<div class="section inner-width">
			<h3 class="section-label w-100">Buy In Store</h3>
			<div class="subtitle">You can find Shirak Honey products at these partner locations.</div>
			<div class="col-12 col-sm-6 col-md-3 location-item" *ngFor="let location of locations;">
				<div class="location-image">
					<img src={{location.image}}>
				</div>
				<div class="location-name"> {{location.name}} </div>
				<div class="location-address"> {{location.address}} </div>
				<div class="directions-button">
					<a href="{{location.map}}" class="btn btn-primary"> Get Directions </a>
				</div>
			</div>
		</div>
	</div>
</div>