.location-item {
	padding: 20px;
	/*min-width: 210px;*/
}

.location-image {
	text-align: center;
	margin: 0 auto;
	width: 150px;
	height: 150px;
}

.location-image img{
	width: 100%;
}

.location-name {
	padding: 5px;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}

.location-address {
	text-align: center;
	font-size: 14px;
	padding: 5px;
}

.directions-button {
	text-align: center;
	padding: 5px;
}

.directions-button a {
	background-color: #3498db;
}