<div class="container-fluid">
	<div class="row">
		<div class="locations-hero inner-width">
			<ngb-carousel>
				<ng-template ngbSlide>
					<img src="/assets/img/kp-front.jpg">
				</ng-template>
				<ng-template ngbSlide>
					<img src="/assets/img/medi-market-front.jpg">
				</ng-template>
				<ng-template ngbSlide>
					<img src="/assets/img/citrus-plaza-front.jpg" alt="Random third slide">
				</ng-template>
				<ng-template ngbSlide>
					<img src="/assets/img/euro-deli-shelves.png" alt="Random first slide">
				</ng-template>
				<ng-template ngbSlide>
					<img src="/assets/img/good-neighbor-front.jpg" alt="Random second slide">
				</ng-template>
				<ng-template ngbSlide>
					<img src="https://s3-media3.fl.yelpcdn.com/bphoto/HU7OlKGsOOOC1QO9fZHAMw/o.jpg" alt="Random third slide">
				</ng-template>
			</ngb-carousel>
		</div>
	</div>
	<div class="row">
		<div class="section inner-width">
			<h3 class="section-label w-100">Can't wait for delivery? Find Shirak Honey products at these locations.</h3>
			<div class="col-12 col-sm-6 col-md-3 location-item" *ngFor="let location of locations;">
				<div class="location-image">
					<img src={{location.image}}>
				</div>
				<div class="location-name"> {{location.name}} </div>
				<div class="location-address"> {{location.address}} </div>
				<div class="directions-button">
					<a href="https://www.google.com/maps?q={{location.address}}" class="btn btn-primary"> Get Directions </a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="section inner-width padding-none mt-0 bg-inherit">
			<section id="map" style="width: 100%">
				<!--    <div class="overlay" onClick="style.pointerEvents='none'">-->
				<iframe width='100%' height='500px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/gagikm.jdok09di/attribution,zoompan,geocoder,share.html?access_token=pk.eyJ1IjoiZ2FnaWttIiwiYSI6IjFRMjB3dUUifQ.3VCfsXnbwddei6pptoFEwA'></iframe>
			</section>
		</div>
	</div>

	

</div>