<div class="row section inner-width wrapper">
	<div class="col-md-10">
		<h1 class="section-label">How do you know you’re buying pure honey? </h1>
		<p>
			If honey has been overheated or ultra-filtered, it is no longer pure and will not give you the same health benefits. That's why it's important to know what has been done after honey leaves the hive. It is also important to know where the honey comes from. Only local bees can make local honey sourced from local plants.
			<br>
			<br>
			Our bees are local to Sacramento and the surrounding regions including North Highlands, Lodi, and Rio Linda. Our honey is raw, pure, and never adulterated. We encourage you to <a href="https://food.ndtv.com/food-drinks/how-to-check-if-your-honey-is-pure-or-adulterated-1690779">put us to the test</a>.
		</p>
	</div>
	<div class="col-md-2 hidden-mobile">
		<img src="/assets/img/local-sacramento-honey-comb.png" alt="pure local raw honey comb">
	</div>
</div>