<div class="row section inner-width wrapper">
	<div class="col-md-10">
		<h1 class="section-label">
			Questions? Call us! ‪<a class="inline-block" href="tel:916-844-2584‬">(916) 844-2584‬</a>
 		</h1>
		<p>We love hearing from you! Please <a href="tel:916-844-2584‬">call us</a> if you have any questions and visit <a  routerLink="/contact-us-sacramento" >our contact page</a> for more ways to connect. </p>
	</div>
	<div class="col-md-2 hidden-mobile">
		<img src="/assets/img/friendly-bee-hive-icon.png" alt="friendly bee hive icon">
	</div>
</div>