h1 {
	text-align: left;
	padding: 0;
}

.wrapper {
	padding: 0 20px;
	background: #eeeeee;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 8px;
	border-radius: 12px;
	display: flex;
	align-items: center;
	overflow: hidden;
	margin-top: 15px;
	margin-bottom: 5px;
}

img {
	max-width: 150px;
}

@media (max-width: 767px) {
	.wrapper {
		border-radius: 4px;
		padding: 20px 5px;
	}
}

.section-label {
	margin-bottom: 10px;
}

.mobile-wrapper {
	padding: 15px;
    margin: 0 -15px;
    background: #654320;
    color: white;
}

.mobile-wrapper a, .mobile-wrapper a:hover {
	text-decoration: none;
	color: white;
}

.text {
	text-transform: uppercase;
    text-align: center;
    color: white;
}

.number-mobile {
	font-weight: 600;
	text-align: center;
	padding: 0 5px;
	font-size: 25px;
}