<div class="container-fluid">
	<div class="row section">
		<h2> 100% Raw Organic Honey. All natural. Never Processed. </h2>

		<p>
		Shirak Honey is a family company with roots that originated over 200 years ago in the rich fields and mountains of rural Armenia. In 2001, we moved from Sarakap, Armenia to Northern California and made our headquarters in the Sacramento Valley, where we have been serving this community for sixteen years. Our company has grown but our philosophy has remained the same: provide all natural honey from the hive to you. </p>
	</div>
	<div class="row section aboutImages">
		<div class="col col-md-6">
			<img src="http://shirakhoney.com/img/sarakap.jpg"/>
		</div>
		<div class="col col-md-6">
			<img src="http://shirakhoney.com/img/sanfran.jpg"/>
		</div>
	</div>
	<div class="row section aboutImages">
		<div class="col-6">
			<img src="http://shirakhoney.com/img/holding.jpg"/>
		</div>
	</div>
</div>