<div class="container-fluid">
	<div class="row">
		<div class="about-hero inner-width">
			<ngb-carousel>
				<ng-template ngbSlide>
					<img src="/assets/img/sarakap.jpg">
				</ng-template>
			</ngb-carousel>
		</div>
	</div>
	<div class="row">
		<div class="ta-center section inner-width">
			<h3>Our Story</h3>
			<div class="content-text">
				<div>Shirak Honey is the culmination of a beekeeping tradition that goes back at least four generations to my great grandfather, Khugas.</div>
				<br>
				~1850: Khugas was born in a town called Hertev before moving to Kars, a city in the northeast region of Turkey which, at the time, was still part of Western Armenia.<br>
				<br>
				~1915: After the Armenian Genocide in 1915, my grandfather Tigran lived in a village called Sarakap in the Shirak province of Armenia, where he continued the tradition of beekeeping and honey production.<br>
				<br>
				2000: Tigran's youngest son, my father Serozh, was next in line. In 2000, Serozh, with his wife and three children, moved to the United States to the city of Sacramento, California.<br>
				<br>
				2001: One year later in 2001, he founded Shirak Honey, with the goal of bringing natural honey and bee products to the Sacramento community.<br>
				<br>
				2018: Seventeen years later, our tradition of providing natural, unaltered honey to our community continues.
			</div>
		</div>
	</div>
</div>