<div class="container-fluid">
	<div class="row">
		<div class="about-hero inner-width">
			<ngb-carousel>
				<ng-template ngbSlide>
					<img src="/assets/img/400h/sarakap.jpg">
				</ng-template>
				<ng-template ngbSlide>
					<img src="/assets/img/400h/hive.jpg" alt="Random third slide">
				</ng-template>
				<ng-template ngbSlide>
					<img src="/assets/img/400h/holding.jpg" alt="Random third slide">
				</ng-template>
				<ng-template ngbSlide>
					<img src="/assets/img/400h/holding.jpg" alt="Raw local honey at Denio's market in Roseville">
				</ng-template>
			</ngb-carousel>
		</div>
	</div>
	<div class="row">
		<div class="ta-center section inner-width">
			<h3>Our Story</h3>
			<div class="content-text">
				<div>Shirak Honey is the culmination of a beekeeping tradition that goes back at least four generations.</div>
				<br>
				~1890: Our head beekeeper's grandfather, Ghukas, was born in a town called Hertev before moving to Kars, a city in the northeast region of Turkey which, at the time, was still part of Western Armenia. <br>
				<br>
				~1915: After the Armenian Genocide in 1915, Ghukas's son, Tigran, lived in a village called Sarakap in the Shirak province of Armenia, where he continued the tradition of beekeeping and honey production.<br>
				<br>
				2000: In 2000, Tigran's youngest son moved to the United States to the city of Sacramento, California.<br>
				<br>
				2001: One year later in 2001, he founded Shirak Honey, with the goal of bringing natural honey and bee products to the Sacramento community.<br>
				<br>
				2018: Seventeen years later, the tradition of providing natural, unaltered honey to our community continues.
			</div>
		</div>
	</div>
</div>