.collection {
	background-color: white;
	border-radius: 4px;
	margin: 10px;
}

.collectionLabel {
	color: #424242;
	font-size: 18px;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
	padding: 24px 32px;
}