<div class="row product-collection">
	<div class="section inner-width">
		<h1 class="section-label"> {{sectionLabel}} </h1>
		<div class="content-placeholders {{elementId}}" id="content-placeholders">
			<div class="col">
				<div id="content-placeholder" class="placeholder-wrapper">
				    <div class="placeholder-item">
				        <div class="animated-background">
				            <div class="background-masker bar-one"></div>
				            <div class="background-masker bar-two"></div>
				            <div class="background-masker bar-three"></div>
				            <div class="background-masker bar-four"></div>
				        </div>
				    </div>
				</div>
			</div>
			<div class="col">
				<div id="content-placeholder" class="placeholder-wrapper">
				    <div class="placeholder-item">
				        <div class="animated-background">
				            <div class="background-masker bar-one"></div>
				            <div class="background-masker bar-two"></div>
				            <div class="background-masker bar-three"></div>
				            <div class="background-masker bar-four"></div>
				        </div>
				    </div>
				</div>
			</div>
			<div class="col">
				<div id="content-placeholder" class="placeholder-wrapper">
				    <div class="placeholder-item">
				        <div class="animated-background">
				            <div class="background-masker bar-one"></div>
				            <div class="background-masker bar-two"></div>
				            <div class="background-masker bar-three"></div>
				            <div class="background-masker bar-four"></div>
				        </div>
				    </div>
				</div>
			</div>
			<div class="col">
				<div id="content-placeholder" class="placeholder-wrapper">
				    <div class="placeholder-item">
				        <div class="animated-background">
				            <div class="background-masker bar-one"></div>
				            <div class="background-masker bar-two"></div>
				            <div class="background-masker bar-three"></div>
				            <div class="background-masker bar-four"></div>
				        </div>
				    </div>
				</div>
			</div>
			<div class="col">
				<div id="content-placeholder" class="placeholder-wrapper">
				    <div class="placeholder-item">
				        <div class="animated-background">
				            <div class="background-masker bar-one"></div>
				            <div class="background-masker bar-two"></div>
				            <div class="background-masker bar-three"></div>
				            <div class="background-masker bar-four"></div>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		<div id={{elementId}}></div>
		<div *ngIf="bottomDescription" [innerHtml]="bottomDescription" class="bottom-description">
		</div>
	</div>
</div>