.product-collection {
    min-height: 464px;
}
.content-placeholders {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.placeholder-wrapper {
	margin: 0 auto;
	width: 180px;
	height: 268px;
}

.placeholder-item {
	width: 100%;
	height: 100%;
    background: #fff;
    padding: 12px;
    margin: 0 auto;
}

@-webkit-keyframes placeHolderShimmer{
    0%{
        background-position: -250px 0
    }
    100%{
        background-position: 300px 0
    }
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -250px 0
    }
    100%{
        background-position: 300px 0
    }
}

.animated-background {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
    background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    -webkit-background-size: 800px 104px;
    background-size: 800px 104px;
    height: 100%;
    position: relative;
    border-radius: 3px;
}

.background-masker {
    background: #fff;
    position: absolute;
}

/* Every thing below this is just positioning */

.background-masker.bar-one {
	top: 174px;
	height: 20px;
	left: 0;
	width: 200px;
}

.background-masker.bar-two {
    top: 204px;
    height: 10px;
    width: 200px;
}

.background-masker.bar-three {
	top: 224px;
	height: 10px;
	width: 200px;
}
.background-masker.bar-four {
    top: 234px;
    left: 136px;
    width: 40px;
    height: 10px;
}

.section-label {
    margin-top: 10px;
}

.bottom-description {
    margin: 0 25px 10px;
    font-size: 14px;
}