<nav class="navbar fixed-top navbar-expand-md navbar-dark">
  <div class="container nav-wrapper">

    <a class="navbar-brand navbar-brand-mobile d-md-none" routerLink="/">
        <img alt="Shirak Honey" src="http://shirakhoney.com/img/logo.png"/>
    </a>

    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="nav-items nav-items-left collapse navbar-collapse" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav mr-auto" (click)="toggleMenuIfMobile()">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/locations">Locations</a>
        </li>
      </ul>
    </div>

    <div class="nav-brand-wrapper d-none d-md-block">
      <a class="navbar-brand" routerLink="/">
        <img alt="Shirak Honey" src="http://shirakhoney.com/img/logo.png"/>
      </a>
    </div>

    <div class="nav-items nav-items-right collapse navbar-collapse" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav ml-auto" (click)="toggleMenuIfMobile()">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/about" >Our Story</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/contact" >Contact</a>
        </li>
      </ul>
    </div>

  </div>
</nav>