/* You can add global styles to this file, and also import other style files */
body {
    background-color: #f7f7f7;
    margin-top: 99px;
}

.container-fluid {
	max-width: 1000px;
}

.section {
	background-color: white;
	border-radius: 4px;
	margin: 10px 0px;
	width: 100%;
	padding: 10px;
}

.no-padding {
	padding: 0px;
}