<div class="container-fluid">
	<div class="row">
		<div class="home-hero inner-width">
			<ngb-carousel>
				<ng-template ngbSlide>
					<img src="/assets/img/400h/kp-shelf-6.jpg">
				</ng-template>
				<ng-template ngbSlide>
					<img src="/assets/img/400h/shelf_blue.jpg">
				</ng-template>
				<ng-template ngbSlide>
					<img src="/assets/img/400h/citrus-shelf-1.jpg">
				</ng-template>
				<ng-template ngbSlide>
					<img src="/assets/img/400h/creamed.jpg">
				</ng-template>
				<ng-template ngbSlide>
					<img src="/assets/img/400h/kp-shelf-2.jpg">
				</ng-template>
			</ngb-carousel>
		</div>
	</div>
	<app-products collectionId='20139704364' elementId='homePageCollection' sectionLabel='Order Now'></app-products>
	<!-- <app-products collectionId='28982116394' elementId='honeyCollection' sectionLabel='Honey'></app-products> -->
	<!-- <app-products collectionId='29733158954' elementId='propolisCollection' sectionLabel='Propolis'></app-products> -->
</div>