<div class="container-fluid">
	<div class="row">
		<div class="home-hero inner-width">
			<ngb-carousel>
				<ng-template ngbSlide>
					<img src="/assets/img/400h/kp-shelf-6.jpg">
				</ng-template>
				<ng-template ngbSlide>
					<img src="/assets/img/400h/sheris-front.jpg" alt="Sheri's Sonshine Nutrition Center">
				</ng-template>
				<ng-template ngbSlide>
					<img src="/assets/img/400h/creamed.jpg">
				</ng-template>
				<ng-template ngbSlide>
					<img src="/assets/img/400h/shelf_blue.jpg">
				</ng-template>
				<ng-template ngbSlide>
					<img src="/assets/img/400h/full-frame.jpg">
				</ng-template>
				<ng-template ngbSlide>
					<img src="/assets/img/400h/citrus-shelf-1.jpg">
				</ng-template>
			</ngb-carousel>
		</div>
	</div>
	<!-- <app-banner></app-banner> -->
	<app-products collectionId='20139704364' elementId='homepageCollection' sectionLabel='Raw Organic Honey'></app-products>
	<app-products collectionId='36287807532' elementId='beeProductCollection' sectionLabel='Propolis, Royal Jelly, & Bee Pollen'></app-products>
	<app-products collectionId='36188258348' elementId='hatsCollection' sectionLabel='Veils & Hats'></app-products>
	<app-products collectionId='36181409836' elementId='smokersCollection' sectionLabel='Smokers'></app-products>
	<app-products collectionId='36180918316' elementId='frameHardwareCollection' sectionLabel='Frame Hardware'></app-products>
	<app-products collectionId='36186882092' elementId='uncappingCollection' sectionLabel='Honey Removal & Uncapping'></app-products>
</div>
