<div class="container-fluid">
	<div class="row">
		<div class="section inner-width">
			<h3 class="sectionLabel">Contact Us</h3>
			<div class="col-12 col-md-6">
				<div class="contact-item">
					<img src="http://physiciansapply.ca/assets/img/icon-mail.svg">
					<div> Email Us </div>
				</div>
			</div>
			<div class="col-12 col-md-6">
				<div class="contact-item"> 
					<img src="https://image.flaticon.com/icons/png/512/124/124010.png"> 
					<div> Find us on Facebook </div>
					<div class="fb-like" data-href="https://www.facebook.com/shirakhoney/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
					<div class="fb-customerchat"
					 page_id="270368739839263">
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>