.contact-item {
	text-align: center;
	width: 100%;
}

.contact-item img {
	height: 150px;
}

.contact-buttons {
	display: inherit;
	flex-wrap: inherit;
	width: 100%;
	padding-top: 40px;
}

.contact-btn {
	text-align: center;
	color: white;
	width: 100%;
	padding: 10px 0px;
}

.contact-btn a {
	width:100%;
	background: #3498db;
	border: 1px solid #A2A6AC;
}

.contact-btn img {
	padding-right: 5px;
}